# Visual Studio

/.vs/
/out/

graph_info.json
conaninfo.txt
conanbuildinfo.txt
conan.lock
conanbuildinfo.cmake

# CMAKE

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
