name: CMake
on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
          - os: ubuntu-latest
          - os: macos-13

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - run: |
        pip3 install wheel conan==2.5.0
        conan --version
        cmake --version

    - name: Create conan profile
      run: conan profile detect

    - name: Build
      run: conan build . --build missing -s:a=build_type=${{env.BUILD_TYPE}}

    - name: Test
      working-directory: build
      run: |
        ctest -C ${{env.BUILD_TYPE}} --output-on-failure
        git diff --exit-code
